:root{
    --ngjyrakryesorefont: black ;
    --ngjyraedytefont: white ;
    
}

.firstnav{
    background-color: #60aaff;

    width: 100%;
    height: 50px;

    border: 2px solid #808080;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.phone{
    position: absolute ;
    top: 4px;
    left: 90px;

    width: 34px;
    height: 34px;

}
.number{
    position: absolute;
    top:10px;
    left: 170px;

    font-size: 20px;
    color: white;
}
.company{
    position: absolute;
    top: 10px;
    left: 550px;

    font-size: 20px;
    color: white;
}
.ntsh{
    position: absolute;
    top: 10px;
    left: 930px;

    font-size: 20px;
    color: white;
}
.namecompany{
    position: absolute;
    top: 10px;
    left: 1310px;

    font-size: 20px;
    color: white;
}
.name{
    justify-content: space-between;
}
.name:hover{
    color: black;
    transition: all 0.3s ease;
}
.logorimed{
    position: absolute;
    top: 5px;
    left: 1510px;
    
width: 65px;
height: 40px;
}


.dropdown{
    position: absolute;
    align-items: center;

    left: 500px;
    top: 20px;
}

.searchbar{
    position: absolute;
    align-items: center;

    left: 700px;
    top: 70px;

    width: 300px;
    height: 37px;

    border-radius: 6px ;
    border: #237fe7 1px solid;
}
.searchbar:hover{
    background-color: #2885f0;
    color: white;
    transition:0.3s ease;

    color: white
}
.searchbtn{
    position: absolute;

    top: 70px;
    left: 1030px;
}


.secondnav{
    position: absolute;
    width: 100%;
    height: 50px;

    top: 130px;

    background-color: #60aaff;

    border: 2px solid #808080;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.Logorimed{
    position: absolute;
    width: 100px;
    height: 42px;

    left: 90px;
}
.Name{
    color: white;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}
.Name:hover{
    color: black;
    transition: all 0.3s ease;
}
.Home{
    position: absolute;
    left: 400px;
    top: 10px;
    
}
.Produktet{
    position: absolute;
    left: 650px;
    top: 10px;
}
.Rabatet{
    position: absolute;
    left: 900px;
    top: 10px;
}
.Aksionet{
    position: absolute;
    left: 1150px;
    top: 10px;
}



